header {
  background-color: $color-white-1;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 4px $color-white-2;
  .navbar {
    padding: $pd-6 0;

    .navbar-brand {
      @include styleText($fs-3, $fw-3, $color-blue-2);
    }
    .navbar-toggler {
      outline: none;
      .navbar-toggler-icon {
        color: $color-blue-1;
        font-size: $fs-5;
        line-height: $fs-5;
      }
    }
  }
  .navbar-nav {
    li:active {
      a {
        @include styleText($fs-2, $fw-2, $color-blue-2);
        &::after {
          transform: scaleX(1);
        }
      }
    }
    li {
      padding: $pd-1;
      @include responsive(medium) {
        text-align: center;
      }
      a {
        @include styleText($fs-2, $fw-2, $color-blue-1);

        &::after {
          content: "";
          display: block;
          background-color: $color-blue-2;
          height: 2px;
          width: 100%;
          transform: scaleX(0);
          transition: 00.5s;
        }
        &:hover {
          @include styleText($fs-2, $fw-2, $color-blue-2);
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
@include responsive(small) {
  header {
    .navbar {
      padding: $pd-6 * 2 $pd-3 * 2;
      .navbar-brand {
        font-size: $fs-8;
        line-height: 2.5rem;
      }
    }
  }
}
